{% set repo_host = kea_dhcp_repo_base_url | urlsplit("hostname") %}
Acquire::http::Proxy::{{ repo_host }} "{{ kea_dhcp_repo_proxy }}";
Acquire::https::Proxy::{{ repo_host }} "{{ kea_dhcp_repo_proxy }}";
